<div class="text-center">

    <ng-container [ngTemplateOutlet]="userService.info ? personalisedWelcome : genericWelcome">

        <ng-template #personalisedWelcome>
            <h2>Welcome {{userService.info?.given_name}}</h2>

            <p>Manage your todos</p>
            <button class="btn btn-success" [routerLink]="'/todos'">View todos</button>
            <app-logout></app-logout>
        </ng-template>

        <ng-template #genericWelcome>
            <h2>Welcome</h2>

            <p>Please log in to begin</p>
            <button class="btn btn-success" [routerLink]="'/login'"> Login now</button>
        </ng-template>

    </ng-container>

    
    
</div>