<app-header></app-header>
<div class="text-center w-50 m-auto">

    <h1 class="mt-5 ">Your Todos</h1>
    <p class="fs-6 text-muted">Create and manage your todos.</p>

    <hr>

    <div class="card shadow-sm mb-5 ">
        <form (ngSubmit)="createTodo()" #newTodoForm="ngForm" class="p-3 d-flex" ngNativeValidate>
            <div class="cstm_todos-input cstm_form-floating form-floating flex-grow-1">
                <input id="newTodo" type="text" class="cstm_form-control form-control bg-transparent"
                       placeholder="What needs doing?" required="" [(ngModel)]="newTodo.title" name="title">
                <label for="newTodo">What needs doing?</label>
            </div>
            <button type="submit" class="btn btn-primary ms-2">Create</button>
        </form>

        <ng-container [ngTemplateOutlet]="todos.length > 0 ? todolist : empty">

            <ng-template #todolist>
                <ul>
                    <li class="cstm_todo-item list-group-item list-group-item-action p-0" *ngFor="let todo of todos">
                        <app-todo [todo]="todo" (updated)="getTodos()" (deleted)="getTodos()"></app-todo>
                    </li>
                </ul>
            </ng-template>

            <ng-template #empty>
                <div class="card shadow-sm mb-5 w-50 mx-auto">
                    <ul class="list-group list-group-flush mb-1 ">
                        <li class="cstm_todo-item list-group-item list-group-item-action p-0">
                            <div class="row">
                                <p class="col d-flex align-items-center fs-5 text-muted w-100 ms-3 p-3">No todos yet. Create one above!</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </ng-template>

        </ng-container>
    </div>

</div>
<app-footer></app-footer>