<ng-container [ngTemplateOutlet]="success ? successMessage : failure ? failureMessage : step ? callbacks : loading">
    <ng-template #loading>
        <app-loading [message]="'Checking your session ...'"></app-loading>
    </ng-template>

    <ng-template #successMessage>
        <app-loading [message]="'Success! Redirecting ...'"></app-loading>
    </ng-template>

    <ng-template #failureMessage>
        <app-alert [message]="failure?.getMessage()" [type]="'error'"></app-alert>
    </ng-template>

    <ng-template #callbacks>
        <div>
            <h1 class="text-center fs-2 mb-3" *ngIf="title">{{ title }}</h1>
            <div id="callbacks">
                <form (ngSubmit)="nextStep(step)"
                      class="cstm_form">
                    <div
                         *ngFor="let callback of step?.callbacks"
                         v-bind:key="callback.payload._id">
    
                        <app-text *ngIf="callback.getType() === 'NameCallback'" [callback]="$any(callback)" [name]="callback?.payload?.input?.[0]?.name" (updatedCallback)="$any(callback).setName($event)"></app-text>
    
                        <app-password *ngIf="callback.getType() === 'PasswordCallback'" [callback]="$any(callback)" [name]="callback?.payload?.input?.[0]?.name" (updatedCallback)="$any(callback).setPassword($event)"></app-password>
    
                    </div>
                    <app-button [buttonText]="buttonText" [submittingForm]="submittingForm"></app-button>
                </form>
            </div>
        </div>
    </ng-template>
</ng-container>