<div
     class="cstm_form-floating input-group form-floating mb-3">
       <!-- TODO Put validation classes in input -->
       <input
              class="cstm_form-control form-control bg-transparent"
              [id]="name"
              [name]="name"
              [placeholder]="callback?.getPrompt()"
              [required]="isRequired ? 'required' : ''"
              (input)="updateValue($event)"
              [type]="isVisible ? 'text' : 'password'" />
       <label
              [for]="name">{{callback?.getPrompt()}}</label>
       <button
               class="cstm_input-icon border-start-0 input-group-text bg-transparent"
               (click)="toggleVisibility()"
               type="button">
              <app-eye-icon [visible]="isVisible"></app-eye-icon>
       </button>
       <!-- TODO Put validation messages here -->
</div>