<li *ngIf="todo"
    class="cstm_todo-item list-group-item list-group-item-action d-flex p-0">
    <div class="flex-grow-1">
        <input
               [id]="todo._id"
               class="cstm_form-check form-check-input visually-hidden"
               type="checkbox"
               [checked]="todo.completed"
               (change)="completeTodo(todo)" />
        <label [for]="todo._id" class={todoClasses}>
            <app-todo-icon [completed]="todo.completed" [size]="'36px'"></app-todo-icon>
            {{todo.title}}
        </label>
    </div>

    <div
         class="dropdown text-end d-flex align-items-center"
         aria-expanded="true">
        <button
                class="cstm_dropdown-actions btn h-auto"
                data-bs-toggle="dropdown"
                [id]="'todo_action_' + todo._id">
            <app-action-icon></app-action-icon>
        </button>
        <ul
            class="dropdown-menu dropdown-menu-end shadow-sm"
            aria-labelledby="'todo_action_' + todo._id">
            <li>
                <button
                        class="dropdown-item"
                        data-bs-toggle="modal"
                        data-bs-target="#editModal">
                    Edit
                </button>
            </li>
            <li>
                <button
                        class="dropdown-item"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal">
                    Delete
                </button>
            </li>
        </ul>
    </div>
</li>

<div *ngIf="todo"
     class="modal fade"
     data-bs-backdrop="static"
     id="editModal"
     tabIndex="-1"
     aria-modal="true"
     role="dialog">
    <div class="modal-dialog">
        <div
             class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Edit Todo
                </h4>
            </div>
            <form class="modal-body" (ngSubmit)="updateTodo(todo)">
                <div class="cstm_todos-input cstm_form-floating form-floating flex-grow-1">
                    <input
                           id="editTodo"
                           type="text"
                           class="cstm_form-control form-control bg-transparent"
                           [defaultValue]="todo.title"
                           [(ngModel)]="todo.title"
                           required="required" />
                    <label htmlFor="newTodo">Update todo text</label>
                </div>
            </form>
            <div class="modal-footer">
                <button
                        id="closeEditModalBtn"
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#editModal"
                        class="btn btn-secondary">
                    Close
                </button>
                <button
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#editModal"
                        class="btn btn-primary"
                        (click)="updateTodo(todo)">
                    Update Todo
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="todo"
     class="modal fade"
     data-bs-backdrop="static"
     id="deleteModal"
     tabIndex="-1"
     aria-modal="true"
     role="dialog">
    <div class="modal-dialog">
        <div
             class="modal-content">
            <div class="modal-body pt-4 px-4">
                <p>Are you sure you want to delete this todo?</p>
            </div>
            <div class="modal-footer p-3">
                <button
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal"
                        class="btn btn-secondary">
                    Close
                </button>
                <button
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal"
                        class="btn btn-danger"
                        (click)="deleteTodo(todo)">
                    Delete Todo
                </button>
            </div>
        </div>
    </div>
</div>