<div
     class="cstm_form-floating form-floating mb-3">
       <!-- TODO Put validation classes in input -->
       <input
              class="cstm_form-control form-control bg-transparent"
              [id]="name"
              [name]="name"
              [placeholder]="callback?.getPrompt()"
              [required]="isRequired ? 'required' : ''"
              (input)="updateValue($event)"
              [type]="stringAttributeName == 'mail' ? 'email' : 'text'" />
       <label
              [for]="name">{{callback?.getPrompt()}}</label>
       <!-- TODO Put validation messages here -->
</div>