<div class="row" *ngIf="todo">
    <div class="col">
        <input [id]="todo._id" class="cstm_form-check form-check-input visually-hidden" type="checkbox" />
        <label>
            {{todo.title}}
        </label>
    </div>

    <div class="dropdown col-2 text-end" aria-expanded="false">
        <button
                class="cstm_dropdown-actions btn h-100"
                data-bs-toggle="dropdown">
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow-sm">
            <li>
                <button class="dropdown-item">
                    Edit
                </button>
            </li>
            <li>
                <button
                        class="dropdown-item"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal">
                    Delete
                </button>
            </li>
        </ul>
    </div>
</div>